@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: var(--font-roboto);
  --font-work: var(--font-work-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: rgb(14, 14, 14);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: red;
}

.common_heading {
  color: pink;
}
